@import 'tailwindcss';

/* dark mode */
@variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary: #5197ff;
	--color-secondary: #fbff03;
	--color-border: rgba(255, 255, 255, 0.12);
	--color-sidebar: #141515;
	--color-bg: #0e0f0f;
	--transition-duration-default: 266ms;
	--font-poppins: 'Poppins', sans-serif;
	--font-dm: 'DM Sans', sans-serif;
}

:root {
	--background: #ffffff;
	--foreground: #171717;

	/* ---------- BACKGROUND ---------- */
	--bg-balance-dashboard: url('/src/public/img/dashboards/balanceImg.png');
	--bg-ellipse-light: url('https://i.ibb.co/Y3nrFfd/elipse-light.png');
	--bg-ellipse-dark: url('https://i.ibb.co/g66yJnm/ElLipse-94.png');
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	@apply text-base overflow-hidden;
	font-family: var(--font-zerf), sans-serif;
	color: #fff;
	background-color: #0e0f0f;
	@media (max-width: 1200px) {
		font-size: 16px;
	}
	@media (max-width: 992px) {
		font-size: 14px;
	}
}
input.defaultCheckbox {
	color: white;
}

input.defaultCheckbox {
	position: relative;
}

input.defaultCheckbox::before {
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	top: -2px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;

	background: currentColor;
	mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M6.66662 10.115L12.7946 3.98633L13.7379 4.92899L6.66662 12.0003L2.42395 7.75766L3.36662 6.81499L6.66662 10.115Z'/%3E%3C/svg%3E")
		no-repeat center / contain;
}

input.defaultCheckbox:checked::before {
	opacity: 1;
}

.slide {
	animation: slide_anim 0.5s;
}
@keyframes slide_anim {
	from {
		transform: translateX(50px);
		opacity: 0.4;
	}
	to {
		transform: translateX (0);
		opacity: 1;
	}
}
.animation-opacity {
	animation: opacity_anim 0.5s;
}

@keyframes opacity_anim {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
