:root {
	--border-color: rgba(255, 255, 255, 0.12);
	--color-primary: #5197ff;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	margin-top: 20px;
}

.roundsContainer {
	display: flex;
	gap: 0.75rem;
	align-items: center;
	justify-content: center;
	margin-top: 0.25rem;
}

.button {
	opacity: 0.2;
	margin-top: 0.25rem;
	transition: opacity 0.2s;
}

.button:hover {
	opacity: 1;
}

.button:disabled {
	opacity: 0.2;
}

.round {
	position: relative;
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 0.25rem;
	border: 1px solid var(--border-color);
}

.round::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background: var(--color-primary);
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
	transition: all 0.3s;
}

.round.active::before {
	width: 40%;
	transition-duration: 1s;
}

.round.completed::before {
	width: 100%;
	border-radius: 0.25rem;
}
